
{{ if .Site.Params.gitment }} 
	<div id="container"></div>
	<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
	<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
	<script>
	var gitment = new Gitment({
        id: '{{ .Date.Format "2018-02-11" }}', 
	  owner: '{{ .Site.Params.owner }}',
	  repo: '{{ .Site.Params.repo }}',
	  oauth: {
	    client_id: '{{ .Site.Params.client_id }}',
	    client_secret: '{{ .Site.Params.client_secret }}',
	  },
	})
	gitment.render('container')
	</script>
{{ end }}
